@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
    font-family: "Roboto", sans-serif;
}
#title{
    font-size: 45px;
    font-weight: 700;
    color: rgb(255, 81, 0);
    margin-top: -2px;
    margin-left:15px;
    margin-bottom: 20px ;
}
div{
  
  border-radius: 15px;
  width: 95%;
  height: 170px; 
  background: rgb(43, 43, 43);
  margin-left: 15px;
  margin-bottom: 20px;
}
div:hover
{
    background: rgb(248, 109, 39);
}
.parag{
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 30px 21px 10px  ;
    
}

.pcl{
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin-left: 21px;
    margin-top: -18px;
}

.numb
{
    color: gray;
    margin-left: 21px;
    
}